.body-container {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  max-width: 720px;
  margin: 0 auto;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
}

h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

table {
  width: 100%;
}

.Table {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.TableRow, .TableHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.TableHeader {
  font-weight: bold;
}

.TableHeaderDetail {
  font-weight: bold;
  text-align: center;
}

.TableDetail, .TableHeaderDetail {
  flex: 1 0 144px;
}

.Calculator input, .Calculator button {
  font-size: 24px;
}

.Calculator input {
  width: 6em;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #bebebe;
  height: 40px;
  margin-right: 1em;
}

.Calculator button {
  appearance: none;
  background-color: #8a8a8a;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #bebebe;
  font-size: 18px;
  padding: 10px;
  height: 40px;
}